:root{
    --blue: #0ea5e9;
    --yellow: #fbbf24;
    --grey: #e2e8f0;
    --black: black;
}

*{
    list-style: none;
}

body{
    background-color: var(--grey);
}


.sidebar{
    background-color: var(--blue);
    color: white;
}

header{
    background-color: white;
}

.card{
    background-color: white;
}

.announcement{
    background-color: white;
}

.title{
    font-weight: 600;
}

.section{
    font-weight: 600;
}

button{
    color: white;
    font-weight: 500;
    background-color: var(--blue);
    border-radius: 18px;
    width: 80px;
    padding: 8px;
    border: 1px solid var(--blue);

}

#icon{
    width: 25px;
    height: auto;
}

footer {
    display: flex;
    justify-content: center;
}

.fa-github {
    color: black;  
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}